<template>
<footer class="footer">
      <span class="todo-count"><span id="remaining-tasks-count"></span> item(s) left</span>
      <ul class="filters">
        <li>
          <a href="#/" class="filter selected" data-filter="all">All</a>
        </li>
        <li>
          <a href="#/active" class="filter" data-filter="active">Active</a>
        </li>
        <li>
          <a href="#/completed" class="filter" data-filter="completed">Completed</a>
        </li>
      </ul>
      <button class="clear-completed">Clear completed</button>
    </footer>
</template>