<script setup>
import Header from './Header.vue'
import TasksList from './TasksList.vue'
import Footer from './Footer.vue'
</script>


<template>
  
  <section class="todoapp">
    <Header/>
    <section class="main">
      <input id="toggle-all" class="toggle-all" type="checkbox" />
      <label for="toggle-all">Mark all as complete</label>
      <ul class="todo-list">
      <TasksList/>
      </ul>
    </section>
    <Footer/>
  </section>
</template>
